---
http_interactions:
- request:
    method: get
    uri: https://omgvamp-hearthstone-v1.p.mashape.com/fakeendpoint
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Mashape-Key:
      - "<REAL MASHAPE KEY GOES HERE>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<html>\r\n\t<head>\r\n\t\t<link href='//fonts.googleapis.com/css?family=Lato:100'
        rel='stylesheet' type='text/css'>\r\n\r\n\t\t<style>\r\n\t\t\tbody {\r\n\t\t\t\tmargin:
        0;\r\n\t\t\t\tpadding: 0;\r\n\t\t\t\twidth: 100%;\r\n\t\t\t\theight: 100%;\r\n\t\t\t\tcolor:
        #B0BEC5;\r\n\t\t\t\tdisplay: table;\r\n\t\t\t\tfont-weight: 100;\r\n\t\t\t\tfont-family:
        'Lato';\r\n\t\t\t}\r\n\r\n\t\t\t.container {\r\n\t\t\t\ttext-align: center;\r\n\t\t\t\tdisplay:
        table-cell;\r\n\t\t\t\tvertical-align: middle;\r\n\t\t\t}\r\n\r\n\t\t\t.content
        {\r\n\t\t\t\ttext-align: center;\r\n\t\t\t\tdisplay: inline-block;\r\n\t\t\t}\r\n\r\n\t\t\t.title
        {\r\n\t\t\t\tfont-size: 72px;\r\n\t\t\t\tmargin-bottom: 40px;\r\n\t\t\t}\r\n\t\t</style>\r\n\t</head>\r\n\t<body>\r\n\t\t<div
        class=\"container\">\r\n\t\t\t<div class=\"content\">\r\n\t\t\t\t<div class=\"title\">404</div>\r\n\t\t\t</div>\r\n\t\t</div>\r\n\t</body>\r\n</html>\r\n"
  recorded_at: Sat, 09 Jan 2016 16:44:37 GMT
recorded_with: VCR 3.0.1
