---
http_interactions:
- request:
    method: get
    uri: https://omgvamp-hearthstone-v1.p.mashape.com/info
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Mashape-Key:
      - "<REAL MASHAPE KEY GOES HERE>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"patch":"4.1.0.10956","classes":["Druid","Hunter","Mage","Paladin","Priest","Rogue","Shaman","Warlock","Warrior","Dream"],"sets":["Basic","Classic","Credits","Naxxramas","Debug","Goblins
        vs Gnomes","Missions","Promotion","Reward","System","Blackrock Mountain","Hero
        Skins","Tavern Brawl","The Grand Tournament","The League of Explorers"],"types":["Hero","Minion","Spell","Enchantment","Weapon","Hero
        Power"],"factions":["Horde","Alliance","Neutral"],"qualities":["Free","Common","Rare","Epic","Legendary"],"races":["Demon","Dragon","Mech","Murloc","Beast","Pirate","Totem"],"locales":["deDE","enGB","enUS","esES","esMX","frFR","itIT","koKR","plPL","ptBR","ruRU","zhCN","zhTW","jaJP"]}'
  recorded_at: Sat, 09 Jan 2016 04:30:52 GMT
recorded_with: VCR 3.0.1
